* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: sans-serif;
}

#heading {
    margin: 20px;
    user-select: none;
    font-weight: 800;
    font-size: 2.1rem;
    text-decoration: underline;
    font-family:Arial, sans-serif;
}

#input {
    width: 250px;
    padding: 7px 10px;
    border: none;
    margin: 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: 0.9px solid gray;
}
#input:focus {
    outline: none;
}

#mode {
    padding: 10px;
    background-color: transparent;
    color:#000;
    border: none;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 175px 0px 0px;
    cursor: pointer;
}

.food-container {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 260px;
    height: 270px;
    margin: 20px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.img-container:hover {
    transform: scale(1.03);
}

.imgs {
    width: 100%;
    height: 100%;
}

.recipe_names {
    width: 260px;
    padding: 6px;
    margin: 6px;
    font-weight: 600;
    font-size: 1.3rem;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.countries {
    padding: 9px 15px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 10px 10px 10px;
}


@media screen and (max-width: 700px) {
  #mode {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1px;
  }
  .countries {
    margin: 10px;
    padding: 8px;
  }
  #heading {
    width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  #input {
    padding: 10px 18px;
  }
}